p{
    text-align: center;
}

.normal{
    font-family: Arial, Helvetica, sans-serif;
}

.destacado{
    background-color: rgb(0, 255, 85);
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}